[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-tinymce = "*"
django-countries = "*"
django-crispy-forms = "*"
django-registration = "==2.4.1"
psycopg2 = "*"
django-urls = "*"

[dev-packages]

[requires]
python_version = "3.8"
